streamlit
chromadb
praw
PyPDF2
nltk
requests
matplotlib
textblob
sentence-transformers
detoxify
presidio-analyzer
presidio-anonymizer
langchain-groq
langchain
langchain-huggingface
scikit-learn
ollama
rouge
transformers
torch
Dbias
evaluate